.container_Header_panel{
    background-color: #285194;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 0 20px 0 20px;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 16px 16px 0 rgba(0,0,0,0.10);
}

.title_header{
    font-family: "Outfit";
    font-size: 33px;
    color: #fff;
}

.sections_header{
    display: flex;
    gap: 20px;
    align-items: center;
    color: #fff;
}

.sections_header a{
    color: #fff;
    opacity: 0.6;
    font-family: "Outfit";
    font-weight: 400;
    font-size: 19px;
    cursor: pointer;
    text-decoration: none;
}

.sections_header a:hover{
    opacity: 1;
}

.profile_user_header{
    cursor: pointer;
}

.swapCoin_header{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: rgb(255, 255, 255);
    height: 45px;
    padding: 10px;
    border-radius: 6px;
    opacity: 0.65;
}

.info_swapcoin{
    display: flex;
    align-items: center;
    gap: 3px;
    opacity: 1;
    color: #000;
    font-weight: 500;
    font-family: "Outfit";
}

#buttonSelected_header{
    opacity: 1 ;
}

@media (max-width: 768px) {
    .container_Header_panel {
        height: auto;
        padding: 10px;
        gap: 10px;
    }

    .title_header {
        font-size: 24px;
        margin-bottom: 8px;
    }

    .sections_header {
        gap: 10px;
        flex-wrap: wrap;
        font-size: 16px;
    }

    .swapCoin_header {
        height: 35px;
        padding: 6px;
        font-size: 14px;
    }

    .profile_user_header {
        width: 32px !important;
        height: 32px !important;
    }
}


@media (max-width: 572px) {
    .container_Header_panel {
        flex-direction: column;
        height: auto;
        padding: 10px;
        gap: 10px;
    }
}

@media (max-width: 371px) {
    .title_header{display: none;}
    .sections_header a{font-size: 20px;}
    .text_swapcoins{display: none;}
}
