.container_general_dialog_products {
    display: grid;
    grid-template-columns: 450px 1fr;
    position: relative;
    height: 100%;
}

.section_img_products{
    padding: 10px;
}

.section_info_products h6{
    font-family: "Manrope";
}

.category_products{
    position: absolute;
    left: 20px;
}


.img_product_major{
    max-height: 285px;
    width: 100%;
    border-radius: 10px;
    object-fit:contain;
}

.container_img_category{
    position: relative;
background-color: #f4f4f4;    border-radius: 10px;
}

.container_img_products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin-top: 15px;
}

.unit_img_products{
    max-height: 100px;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    object-fit:inherit;

}

.section_info_products{
    display: flex;
    max-width: 98%;
    flex-direction: column;
    gap: 14px;
    margin-top: 15px;
    overflow-y: auto;
    max-height: 100vh;
}

.section_info_products::-webkit-scrollbar {
    width: 0px;
}

.section_info_products::-webkit-scrollbar-thumb {
    background: #b8d4f1;
    border-radius: 8px;
}

.section_info_products::-webkit-scrollbar-track {
    background: #e9f3fd;
    border-radius: 8px;
}

.info_products_title{
    font-family: "Outfit";
    font-size: 28px;
    font-weight: 700;
    color: #0056D2;
}

.info_products_description{
    font-family: "Manrope";
    max-width: 93%;
}

.info_products_category{
    background-color: #0056D2;
    font-family: "Outfit";
    font-size: 15px;
    padding: 8px;
    margin: 7px;
    border-radius: 16px;
    color: #dfdada;
}

.info_pruducts_amount h5{
    font-family: "Manrope";
    font-size: 15px;
}

.info_products_stock{
    background-color: #E9F3FD;
    padding: 8px;
    border-radius: 20px;
    color: #0056D2;
    font-weight: 700;
}

.products_stock_soldOut {
    color: #ef5350; 
    font-weight: bold;
    background: #fff5f5;
    border-radius: 6px;
    padding: 8;
    letter-spacing: 1px;
}

.info_product_offers{
    background-color: #E9F3FD;
    border-radius: 10px;
    width: 95%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product_offers_discount{
    font-size: 25px;
    font-weight: 700;
    color: #0056D2;
}

.product_offers_original h6{
    font-size: 16px;
}

.section--buttons_producs{  
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 95%;
}

.section--buttons_producs button{
    padding: 8px;
    border-radius: 8px;
    border: none;
    width: 100%;
    font-family: "Outfit";
    box-shadow: 0 8px 20px -2px rgba(0, 0, 0, 0.2);
}

.button-shopping-cart{
    background-color: #0562CC;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button-shopping-cart:hover{
    background-color: #106fdb;
}

.button-buy-now{
    background-color: #FF7043;
    color: #fff;
}

.button-buy-now:hover{
    background-color: #f87b55;
}

.button-disabled {
    cursor: not-allowed !important;
    opacity: 0.5 !important;
}

.section_specs_products{
    border-top: 1px solid rgb(179, 179, 179);
    width: 95%;
    margin-top: 5px;
}

.info_specs_products{
    font-family: "Manrope";
    max-width: 95%;
    word-break: break-word;
}

@media (max-width: 780px) {
    .section_img_products{
        text-align: center;
    }

    .container_general_dialog_products{
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        max-height: 90vh; 
    }

    .img_product_major{
        max-height: 200px;
        width: 100%;
        border-radius: 10px;
        object-fit:fill;
    }

    .container_img_products{
        display: flex;
        justify-content: center;
        max-width: 100%;
        overflow-x: auto;
    }

    .section_info_products{
        overflow-y: unset; 
        max-height: unset;
    }

    .info_products_title{text-align: center;}

    .info_products_description{
        max-width: 98%;
        text-align: center;
    }

    .info_products_stock{margin-left: 5px;}

    .info_product_offers{
        width: 96%;
        margin-left: 5px;
    }

    .product_offers_discount{ font-size: 20px;}
    .info_pruducts_amount{gap: 10px !important; }
    .section--buttons_producs{margin-left: 5px;}
    .section--buttons_producs button{font-size: 15px;}
    .shoppingCart{display: none;}

    .section_specs_products{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 515px) {
    .container_img_products{
        justify-content: left;
    }
}