.container_general_chats_users{
    min-height: calc(100vh - 80px);
    background-color: #e3f0fc; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_chats_users{
    background-color: #f5f5f5;
    height: 80vh;
    width: 50vw;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius:8px;
    position: relative;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12), 0 1.5px 4px rgba(0, 0, 0, 0.08);
}

.info_select_chat{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Outfit";
    font-size: 30px;
}

#info_no_chats{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Outfit";
  font-size: 20px;
}


@media (max-width: 700px) {
    .container_chats_users{
        display: flex;
        flex-direction: column;
        width: 100vw; /* Mejor adaptación a pantallas pequeñas */
        height: 90vh;
    }

}