.container_general_dialog_products {
  display: grid;
  grid-template-columns: 450px 1fr;
  height: 100%;
}

.modalCloseIcon .iconClose {
  position: absolute;
  top: 18px;
  right: 22px;
  font-size: 30px;
  cursor: pointer;
  color: #666;
  z-index: 200;
  transition: 0.2s ease;
}

.modalCloseIcon .iconClose:hover {
  color: #a52a2a;
}

.section_img_products {
  padding: 10px;
  position: relative;
}

.container_img_category {
  position: relative;
}

.info_products_category {
  background-color: #0056D2;
  font-family: "Outfit";
  font-size: 14px;
  padding: 8px;
  border-radius: 16px;
  color: #fff;
  top: 10px;
  left: 10px;
}

.img_product_major {
  height: 285px;
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
}

.container_img_products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin-top: 15px;
}

.unit_img_products {
  height: 95px;
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
}

.section_info_products {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 15px;
  overflow-y: auto;
  font-family: "Manrope";
}

.info_products_title {
  font-family: "Outfit";
  font-size: 26px;
  font-weight: 700;
  color: #0056D2;
}

.info_products_description {
  font-family: "Manrope";
  font-size: 15px;
}

.info_product_item {
  font-family: "Manrope";
  font-size: 15px;
}

.product_swapcoins {
  background-color: #E9F3FD;
  font-family: "Manrope";
  padding: 8px 12px;
  border-radius: 20px;
  color: #0056D2;
  font-weight: 700;
  width: fit-content;
  
}

.exchange_user_img {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.exchange_userImg {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.exchange_userName {
  font-weight: 600;
  font-family: "Manrope";
}

.exchange_userLoc {
  font-size: 13px;
  color: #666;
}

.exchange_buttons_products {
  margin-top: 20px;
  display: flex;
  gap: 12px;
}

.button_cart,
.button_exchange {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  font-family: "Outfit";
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: .2s ease;
}

.button_cart {
  background-color: #0B3C88;
  color: white;
}

.button_cart:hover {
  background-color: #072c67;
}

.button_exchange {
  background-color: #FF7043;
  color: #fff;
}

.button_exchange:hover {
  background-color: #e86736;
}

@media (max-width: 768px){
  .container_general_dialog_products{ grid-template-columns:1fr; }
  .exchange_buttons_products{ flex-direction:column; }
}

@media (max-width:480px){
  .container_img_products{ overflow-x:auto; }
}
