#button-add-offers{
    height: 40px;
}


.info_offers_stock{
    background-color: #E9F3FD;
    padding: 6px;
    border-radius: 7px;
    color: #0056D2;
    font-weight: 700;
    font-size: 15px;

}

.offers_stock_soldOut {
    color: #ef5350; 
    font-weight: bold;
    background: #fff5f5;
    border-radius: 6px;
    padding: 8;
    letter-spacing: 1px;
}