.container_general_publications_offers{
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.title_filter_info_offers{
  display: flex;
  justify-content: space-between;
}

.title_filter_info_offers h1{
  font-size: 30px;
  font-family: "Outfit";
}

.section_grid_offers{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
}

.container_product_offers {
  position: relative;
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Outfit", sans-serif;
}

.container_product_offers img {
  width: 100%;
  max-height: 168px;
  object-fit:contain; /*Validar esto para la imagen*/
}

.tag_offer {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  padding: 6px 10px;
  border-radius: 12px;
}

.tag_offer.limited {
  background-color: #1069ee;
}

.tag_offer.exclusive {
  background-color: #004cff;
}

.product_name {
  font-size: 16px;
  margin: 12px 10px 0 10px;
  text-align: center;
  color: #1d1d1d;
}

.container_price_offers {
  margin-top: 8px;
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.price_offers {
  font-size: 22px;
  font-weight: 700;
  color: #0056ff;
}

.price_original {
  font-size: 15px;
  color: #a1a1a1;
  text-decoration: line-through;
}

.price_swapcoins {
  margin-top: 6px;
  color: #ff7b00;
  font-weight: 600;
  font-size: 14px;
}

.button_more_info {
  margin-top: 10px;
  font-size: 14px;
  color: #0056ff;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.2s ease;
  cursor: pointer;
}

.button_more_info:hover {
  color: #003db8;
  text-decoration: underline;
}

.button_redeem {
  margin: 12px 0 20px 0;
  width: 85%;
  background-color: #0056ff;
  border: none;
  border-radius: 25px;
  color: #fff;
  padding: 10px 0;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button_redeem:hover {
  background-color: #003db8;
}

.info_empty_products{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
}

.info_empty_products h2{
  font-family: "Outfit";
  font-size: 23px;
}

@media (max-width: 500px) {
  .section_grid_offers{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .container_general_publications_offers{
    width: 82%;
  }

  .title_filter_info_offers{
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }

  .filter_category_products{
    width: 100% !important;
  }
}